

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.list {
    width: 800px;
}

.product {
    padding: 16px;
    background-color: bisque;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-name {
    font-size: 3em;
}

.product-price {
    font-size: 3em;
    color: #00af21;
    font-weight: bold;
}

.product-buy-button {
    border: solid white 3px;
    border-radius: 20px;
    font-size: 2em;
    padding: 4px;
    color: white;
    background-color: #1f1908;
}

.product-image {
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image img{
    height: 100px;
}