
.main {
    display: flex;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
    width: 400px;
    padding: 32px;
    margin: 16px;
}

.product-name {
    font-size: 4em;
}

.product-image {
    height: 300px;
}

.product-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 16px;
}

.product-price {
    font-size: 1.5em;
    color: darkgreen;
    font-weight: bold;
}

.product-buy-button {
    border: solid 1px black;
    padding: 8px;
    border-radius: 32px;
    font-size: 1.2em;
    background-color: dodgerblue;
    color: white;
}